



<header class="site-header" id="header">
  <button id="de" (click)="clickde()"></button>
  <button  id="de2"></button>
  <nav class="navbar navbar-expand-lg bg-transparent whitecolor static-nav fixed-bottom">
    <img src="/assets/image/logo_agixis_bleu.png" alt="logo" class="logo-default">
    <button (click)="clickNuit()" id="nuit"></button>

    <a class="navbar-brand ml-3" href="http://themesindustry.com/html/trax-2019/index.html">

    </a>

    <!--side menu open button-->
    <a href="javascript:void(0)" class="d-inline-block sidemenu_btn" id="sidemenu_toggle">
      <span class="bg-white"></span> <span class="bg-white"></span> <span class="bg-white"></span>
    </a>

    <div class="cont">
      <div id="nuitbtn" class="slide-in-top2">
        NUIT
      </div>


      <div id="debtn"   class="slide-in-top3">
        DE
      </div>

     <div id="infobtn"  class="slide-in-top">
      L'INFO
    </div>

    </div>
  </nav>
  <!-- side menu -->
  <div class="side-menu opacity-0 gradient-bg">
    <div class="overlay"></div>
    <div class="inner-wrapper">
      <div class="messaging">


          <div class="msg_history">
            <ng-container *ngFor="let message of messages | async">
                <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot', 'to': message.sentBy === 'user' }">
                            {{ message.content }}
                </div>
            </ng-container>

          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input required minlength="4" type="text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()"  class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" (click)="sendMessage()" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
          </div>

      </div>

<!--      <div class="container_all">-->
<!--        <div class="container_div">-->

<!--          <ng-container *ngFor="let message of messages | async">-->

<!--            <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',-->
<!--                                    'to':   message.sentBy === 'user' }">-->
<!--              {{ message.content }}-->
<!--            </div>-->

<!--          </ng-container>-->


<!--          <label >Your Message</label>-->


<!--          <label>-->
<!--            <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">-->
<!--          </label>-->

<!--          <button (click)="sendMessage()">Send</button>-->

<!--        </div>-->


<!--      </div>-->
      <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
    </div>
  </div>
  <div id="close_side_menu" class="tooltip"></div>


  <!-- End side menu -->
</header>
<section id="home" class="position-relative page-header startup-header parallax section-nav-smooth vh-100">

  <div class="overlay overlay-dark opacity-5 z-index-0"></div>
  <div class="col-12 text-center center-block startup-slider position-relative">
    <div class="startup-img">
      <img src="/assets/image/1.png" alt="startup" class="img-fluid">
      <button (click)="clickInfo()" id="info"></button>
    </div>
    <h2 class="whitecolor mt-5">
      Salut! Je suis Robotixis
    </h2>
    <h3 class="whitecolor">
      <span class="d-none"></span>
      <span id="typed-text"></span>
    </h3>
  </div>


</section>
