

.message {
  border-radius: 50px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}
.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: right;
}
.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;

}
.message.to + .message.to,
.message.from + .message.from {
  margin-top: -10px;
}

/************************************************************/



/*---------chat window---------------*/




.active_chat {
  background: #e8f6ff;
}


.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  bottom: -1%;
  background-color: white;
}

.msg_send_btn {
  background: #ffffff none repeat scroll 0 0;
  border:none;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
   background-color: white;
  height: 90%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 1%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.msg_history {
  height: 100%;
  overflow-y: auto;
}

#btn_sideNavClose{
  background-color: red;
  opacity: 50%;
  position: absolute;
  top: 1%;
  left: 5%;

}

.logo-default{
  position: relative;
  top: 20%;
  transform: translate(400%,-370%);
  width: 20%;
}

#info{
  position: absolute;
  left:43%;
  top:42%;
  transform: translate(-50%,-50%);
  height: 25px;
  background-color: transparent;
}

#nuit{
  position: absolute;
  left:43%;
  top:100%;
  transform: translate(575%,-1490%);
  height: 30%;
  background-color: transparent;
}

#de{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-690%,-100%);
  height: 5%;
  z-index: 1;
  background-color: transparent;
}

#de2{

  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-690%,-400%);
  height: 5%;
  z-index: 1;
  background-color: transparent;
}

.cont{
  position: relative;
  left: 10%;
  display: flex;

}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  font-size: 70px;
  font-weight: bold;
  font-family: "Times New Roman", 'sans-serif';
  color:black;
  position: relative;
  right: 10% ;
  display: none;
}


@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top2 {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  font-size: 70px;
  font-weight: bold;
  font-family: "Times New Roman", 'sans-serif';
  color:black;
  position: relative;
  right: 18% ;
  display: none;
}


@-webkit-keyframes slide-in-top2 {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top3 {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  font-size: 70px;
  font-weight: bold;
  font-family: "Times New Roman", 'sans-serif';
  color:black;
  position: relative;
  right: 14% ;
  display: none;
}


@-webkit-keyframes slide-in-top3 {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

